@import '../node_modules/bootstrap/scss/bootstrap.scss';

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #303030;
}

html, body { height: 100%; margin: 0; }