.home-mobile {
    max-width: 100vw;
    padding-bottom: 6rem;


    .machine-list-container {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1.4rem;
        padding: 1.4rem;
        overflow-y: auto;
        overflow-x: clip;

        .add-machine-button {
            aspect-ratio: 1.618 / 1;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;

            i {
                font-size: 3rem;
            }
        }

        .add-machine-card {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            padding: 1rem;
            border-radius: 0.5rem;
            background-color: black;
            aspect-ratio: 1.618 / 1;
            max-width: 100%;
            color: white;

            .top-half {
                display: flex;
                flex-direction: column;
                gap: 1rem;

                .machine-name-input {
                    border: none;
                    background: none;
                    font-size: 1rem;
                    font-weight: bold;
                    padding: 0;
                    margin: 0;
                    outline: none;
                    border-bottom: 1px solid black;
                }
            }

            .bottom-half {
                display: flex;
                flex-direction: row;
                gap: 1rem;
                height: 100%;
                justify-content: flex-end;
                align-items: flex-end;

                .btn {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    padding-top: 0;
                    padding-bottom: 0;
                    padding-left: 0.3rem;
                    padding-right: 0.5rem;

                    i {
                        font-size: 1.5rem;
                        margin-right: 0.5rem;
                    }

                    p {
                        margin: 0 !important;
                    }
                }

            }
        }
    }

    .footer-container {
        width: 100vw;
        margin: 0;
        position: fixed;
        bottom: 0px;
        z-index: 1000;
        padding: 8px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .footer-background {
            height: 100%;
            width: 100%;
            background-color: rgba(255, 255, 255, 0.4);
            border-radius: 8px;
            display: flex;
            flex-direction: column;
            align-items: stretch;
            backdrop-filter: blur(8px);
            box-shadow: 0 2px 8px rgba(0,0,0,0.08);
        }

        button {
            border: none;
            background: none;
            i {
                // color: #303030;
                color: white;
            }
        }

        .footer-top-half {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .search-input {
                border-radius: 0.5rem;
                height: 2.5rem;
                padding-left: 0.5rem;
                padding-right: 0.5rem;
                flex-grow: 1;
                position: relative;
    
                input {
                    width: 100%;
                    padding: 0.5rem;
                    color: white;
                    border: none;
                    outline: none;
                    background: none;
                }
    
                // Clear Search Button
                .clear-search {
                    position: absolute; // Position the button inside the container
                    right: 0.5rem; // Align it to the far right
                    top: 50%; // Center vertically
                    transform: translateY(-50%);
                    background: none;
                    border: none;
                    color: white;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 1.5rem;
                    width: 1.5rem;
                    border-radius: 50%;
            
                    i {
                        font-size: 2rem;
                        color: white;
                    }
                }
            }

        }

        .sort-filter-panel {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 0.5rem;
            padding: 0.5rem;

            .sort-type {
                flex-grow: 1;
            }
        }

    }

}